<a href="https://colab.research.google.com/github/mckhannacademy/Stats-112-Final-Project/blob/main/Final_Processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Data Collection And Cleaning

In [1]:
import pandas as pd

## Data Collection

FIFA data is taken from Kaggle user Stefano Leone's dataset covering player ratings from FIFA 14 to FIFA 23. Ratings are taken from the second update each year, corresponding to the beginning of the Premier League season

In [3]:
from google.colab import drive

# Mount Google Drive
drive.mount('/content/gdrive')
data_dir = "/content/gdrive/My Drive/csv_files/"
df_fifa = pd.read_csv(data_dir + "male_players.csv")

Mounted at /content/gdrive

<ipython-input-3-bd7f50d8939a>:6: DtypeWarning: Columns (108) have mixed types. Specify dtype option on import or set low_memory=False.
  df_fifa = pd.read_csv(data_dir + "male_players.csv")

In [4]:
df_fifa

,player_id,player_url,fifa_version,fifa_update,fifa_update_date,short_name,long_name,player_positions,overall,potential,...,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,gk,player_face_url
0,158023,/player/158023/lionel-messi/150002,15,2,2014-09-18,L. Messi,Lionel Andrés Messi Cuccittini,CF,93,95,...,62+3,62+3,62+3,54+3,45+3,45+3,45+3,54+3,15+3,https://cdn.sofifa.net/players/158/023/15_120.png
1,20801,/player/20801/c-ronaldo-dos-santos-aveiro/150002,15,2,2014-09-18,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,"LW, LM",92,92,...,63+3,63+3,63+3,57+3,52+3,52+3,52+3,57+3,16+3,https://cdn.sofifa.net/players/020/801/15_120.png
2,9014,/player/9014/arjen-robben/150002,15,2,2014-09-18,A. Robben,Arjen Robben,"RM, LM, RW",90,90,...,64+3,64+3,64+3,55+3,46+3,46+3,46+3,55+3,14+3,https://cdn.sofifa.net/players/009/014/15_120.png
3,41236,/player/41236/zlatan-ibrahimovic/150002,15,2,2014-09-18,Z. Ibrahimović,Zlatan Ibrahimović,ST,90,90,...,65+3,65+3,61+3,56+3,55+3,55+3,55+3,56+3,17+3,https://cdn.sofifa.net/players/041/236/15_120.png
4,167495,/player/167495/manuel-neuer/150002,15,2,2014-09-18,M. Neuer,Manuel Peter Neuer,GK,90,90,...,40+3,40+3,36+3,36+3,38+3,38+3,38+3,36+3,87+3,https://cdn.sofifa.net/players/167/495/15_120.png
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161578,269011,/player/269011/ziye-zhao/230002,23,2,2022-09-26,Zhao Ziye,赵梓业,RW,46,61,...,32+2,32+2,37+2,36+2,31+2,31+2,31+2,36+2,14+2,https://cdn.sofifa.net/players/269/011/23_120.png
161579,269019,/player/269019/junjie-wu/230002,23,2,2022-09-26,Wu Junjie,吴俊杰,LB,46,58,...,41+2,41+2,43+2,44+2,48+2,48+2,48+2,44+2,15+2,https://cdn.sofifa.net/players/269/019/23_120.png
161580,271093,/player/271093/kailin-barlow/230002,23,2,2022-09-26,K. Barlow,Kailin Barlow,CDM,46,58,...,45+2,45+2,47+2,47+2,46+2,46+2,46+2,47+2,14+2,https://cdn.sofifa.net/players/271/093/23_120.png
161581,271555,/player/271555/gideon-tetteh/230002,23,2,2022-09-26,G. Tetteh,Gideon Tetteh,"RW, LW",46,70,...,30+2,30+2,34+2,32+2,28+2,28+2,28+2,32+2,15+2,https://cdn.sofifa.net/players/271/555/23_120.png
161582,271608,/player/271608/aqeel-al-dhafeeri/230002,23,2,2022-09-26,A. Al Dhafeeri,Aqeel Al Dhafeeri,CB,46,63,...,40+2,40+2,39+2,41+2,46+2,46+2,46+2,41+2,13+2,https://cdn.sofifa.net/players/271/608/23_120.png

For my purposes, I will be using Premier League data from 2017 onward to construct my model. The reason I am using only English league data from this period has to do with both the style of play and the statistics available. Before 2017, no leagues have certain advanced statistics (like progressive passes and expected goals)

After importing this data, the variable "Pos" (representing position) must be edited to only include the primary position a player plays. As such, all but the first two characters are removed. Additionally, two columns that contain no data must be removed from the end

In [5]:
df_2122 = pd.read_csv(data_dir + "2021-22.txt")
df_2122["Pos"] = df_2122["Pos"].str[:2]
df_2122["Nation"] = df_2122["Nation"].str[-3:]
df_2122 = df_2122.iloc[:, :-2]
df_2122

,Rk,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,...,Gls.1,Ast.1,G+A.1,G-PK.1,G+A-PK,xG.1,xAG.1,xG+xAG,npxG.1,npxG+xAG.1
0,1,Max Aarons,ENG,DF,Norwich City,21,2000,34,32,2881,...,0.00,0.06,0.06,0.00,0.06,0.03,0.05,0.08,0.03,0.08
1,2,Che Adams,SCO,FW,Southampton,25,1996,30,23,2039,...,0.31,0.13,0.44,0.31,0.44,0.31,0.13,0.45,0.31,0.45
2,3,Rayan Aït Nouri,FRA,DF,Wolves,20,2001,23,20,1828,...,0.05,0.10,0.15,0.05,0.15,0.03,0.08,0.11,0.03,0.11
3,4,Kristoffer Ajer,NOR,DF,Brentford,23,1998,24,23,1995,...,0.05,0.14,0.18,0.05,0.18,0.04,0.08,0.11,0.04,0.11
4,5,Nathan Aké,NED,DF,Manchester City,26,1995,14,10,923,...,0.20,0.00,0.20,0.20,0.20,0.07,0.06,0.12,0.07,0.12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
541,542,Christoph Zimmermann,GER,DF,Norwich City,28,1993,3,2,157,...,0.00,0.00,0.00,0.00,0.00,0.03,0.00,0.03,0.03,0.03
542,543,Oleksandr Zinchenko,UKR,DF,Manchester City,24,1996,15,10,1047,...,0.00,0.34,0.34,0.00,0.34,0.04,0.23,0.27,0.04,0.27
543,544,Hakim Ziyech,MAR,MF,Chelsea,28,1993,23,14,1319,...,0.27,0.20,0.48,0.27,0.48,0.23,0.20,0.43,0.23,0.43
544,545,Kurt Zouma,FRA,DF,West Ham,26,1994,24,24,2078,...,0.04,0.00,0.04,0.04,0.04,0.05,0.00,0.05,0.05,0.05
545,546,Martin Ødegaard,NOR,MF,Arsenal,22,1998,36,32,2785,...,0.23,0.13,0.36,0.23,0.36,0.15,0.20,0.36,0.15,0.36

In [6]:
df_2021 = pd.read_csv(data_dir + "2020-21.txt")
df_2021["Pos"] = df_2021["Pos"].str[:2]
df_2021["Nation"] = df_2021["Nation"].str[-3:]
df_2021 = df_2021.iloc[:, :-2]
df_2021

,Rk,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,...,Gls.1,Ast.1,G+A.1,G-PK.1,G+A-PK,xG.1,xAG.1,xG+xAG,npxG.1,npxG+xAG.1
0,1,Patrick van Aanholt,NED,DF,Crystal Palace,29,1990,22,20,1777,...,0.00,0.05,0.05,0.00,0.05,0.07,0.04,0.11,0.07,0.11
1,2,Tammy Abraham,ENG,FW,Chelsea,22,1997,22,12,1040,...,0.52,0.09,0.61,0.52,0.61,0.51,0.06,0.57,0.51,0.57
2,3,Che Adams,SCO,FW,Southampton,24,1996,36,30,2667,...,0.30,0.17,0.47,0.30,0.47,0.33,0.17,0.50,0.33,0.50
3,4,Tosin Adarabioyo,ENG,DF,Fulham,22,1997,33,33,2953,...,0.00,0.00,0.00,0.00,0.00,0.03,0.01,0.04,0.03,0.04
4,5,Adrián,ESP,GK,Liverpool,33,1987,3,3,270,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
527,528,Andi Zeqiri,SUI,FW,Brighton,21,1999,9,0,171,...,0.00,0.00,0.00,0.00,0.00,0.38,0.04,0.42,0.38,0.42
528,529,Oleksandr Zinchenko,UKR,DF,Manchester City,23,1996,20,15,1478,...,0.00,0.00,0.00,0.00,0.00,0.04,0.06,0.10,0.04,0.10
529,530,Hakim Ziyech,MAR,MF,Chelsea,27,1993,23,15,1172,...,0.15,0.23,0.38,0.15,0.38,0.15,0.28,0.42,0.15,0.42
530,531,Kurt Zouma,FRA,DF,Chelsea,25,1994,24,22,2029,...,0.22,0.00,0.22,0.22,0.22,0.09,0.00,0.09,0.09,0.09
531,532,Martin Ødegaard,NOR,MF,Arsenal,21,1998,14,9,866,...,0.10,0.21,0.31,0.10,0.31,0.08,0.21,0.29,0.08,0.29

In [7]:
df_1920 = pd.read_csv(data_dir + "2019-20.txt")
df_1920["Pos"] = df_1920["Pos"].str[:2]
df_1920["Nation"] = df_1920["Nation"].str[-3:]
df_1920 = df_1920.iloc[:, :-2]
df_1920

,Rk,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,...,Gls.1,Ast.1,G+A.1,G-PK.1,G+A-PK,xG.1,xAG.1,xG+xAG,npxG.1,npxG+xAG.1
0,1,Patrick van Aanholt,NED,DF,Crystal Palace,28,1990,29,29,2507,...,0.11,0.07,0.18,0.07,0.14,0.08,0.13,0.21,0.05,0.18
1,2,Max Aarons,ENG,DF,Norwich City,19,2000,36,36,3240,...,0.00,0.03,0.03,0.00,0.03,0.02,0.11,0.12,0.02,0.12
2,3,Tammy Abraham,ENG,FW,Chelsea,21,1997,34,25,2215,...,0.61,0.12,0.73,0.61,0.73,0.67,0.11,0.77,0.67,0.77
3,4,Che Adams,SCO,FW,Southampton,23,1996,30,12,1111,...,0.32,0.16,0.49,0.32,0.49,0.43,0.14,0.57,0.43,0.57
4,5,Adrián,ESP,GK,Liverpool,32,1987,11,9,875,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
517,518,Wilfried Zaha,CIV,FW,Crystal Palace,26,1992,38,37,3280,...,0.11,0.08,0.19,0.11,0.19,0.14,0.11,0.25,0.14,0.25
518,519,Christoph Zimmermann,GER,DF,Norwich City,26,1993,17,16,1430,...,0.00,0.06,0.06,0.00,0.06,0.02,0.01,0.03,0.02,0.03
519,520,Oleksandr Zinchenko,UKR,DF,Manchester City,22,1996,19,13,1276,...,0.00,0.00,0.00,0.00,0.00,0.03,0.11,0.14,0.03,0.14
520,521,Richairo Živković,NED,FW,Sheffield Utd,22,1996,5,0,112,...,0.00,0.00,0.00,0.00,0.00,0.06,0.08,0.14,0.06,0.14
521,522,Kurt Zouma,FRA,DF,Chelsea,24,1994,28,25,2344,...,0.00,0.00,0.00,0.00,0.00,0.04,0.01,0.05,0.04,0.05

In [8]:
df_1819 = pd.read_csv(data_dir + "2018-19.txt")
df_1819["Pos"] = df_1819["Pos"].str[:2]
df_1819["Nation"] = df_1819["Nation"].str[-3:]
df_1819 = df_1819.iloc[:, :-2]
df_1819

,Rk,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,...,Gls.1,Ast.1,G+A.1,G-PK.1,G+A-PK,xG.1,xAG.1,xG+xAG,npxG.1,npxG+xAG.1
0,1,Patrick van Aanholt,NED,DF,Crystal Palace,27,1990,36,36,3195,...,0.08,0.06,0.14,0.08,0.14,0.07,0.12,0.20,0.07,0.20
1,2,Sergio Agüero,ARG,FW,Manchester City,30,1988,33,31,2459,...,0.77,0.29,1.06,0.70,0.99,0.66,0.18,0.85,0.60,0.79
2,3,Nathan Aké,NED,DF,Bournemouth,23,1995,38,38,3411,...,0.11,0.00,0.11,0.11,0.11,0.09,0.03,0.11,0.09,0.11
3,4,Marc Albrighton,ENG,FW,Leicester City,28,1989,27,18,1625,...,0.11,0.11,0.22,0.11,0.22,0.07,0.16,0.23,0.07,0.23
4,5,Toby Alderweireld,BEL,DF,Tottenham,29,1989,34,33,2922,...,0.00,0.00,0.00,0.00,0.00,0.03,0.02,0.05,0.03,0.05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
503,504,Andre-Frank Zambo Anguissa,CMR,MF,Fulham,22,1995,22,16,1517,...,0.00,0.00,0.00,0.00,0.00,0.05,0.01,0.06,0.05,0.06
504,505,Davide Zappacosta,ITA,DF,Chelsea,26,1992,4,1,128,...,0.00,0.00,0.00,0.00,0.00,0.06,0.09,0.15,0.06,0.15
505,506,Oleksandr Zinchenko,UKR,DF,Manchester City,21,1996,14,14,1151,...,0.00,0.23,0.23,0.00,0.23,0.01,0.12,0.13,0.01,0.13
506,507,Kenneth Zohore,DEN,FW,Cardiff City,24,1994,19,7,753,...,0.12,0.12,0.24,0.12,0.24,0.20,0.13,0.33,0.20,0.33
507,508,Kurt Zouma,FRA,DF,Everton,23,1994,32,29,2612,...,0.07,0.07,0.14,0.07,0.14,0.05,0.01,0.06,0.05,0.06

In [9]:
df_1718 = pd.read_csv(data_dir + "2017-18.txt")
df_1718["Pos"] = df_1718["Pos"].str[:2]
df_1718["Nation"] = df_1718["Nation"].str[-3:]
df_1718 = df_1718.iloc[:, :-2]
df_1718

,Rk,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,...,Gls.1,Ast.1,G+A.1,G-PK.1,G+A-PK,xG.1,xAG.1,xG+xAG,npxG.1,npxG+xAG.1
0,1,Patrick van Aanholt,NED,DF,Crystal Palace,26,1990,28,25,2184,...,0.21,0.04,0.25,0.21,0.25,0.13,0.09,0.21,0.13,0.21
1,2,Rolando Aarons,ENG,MF,Newcastle Utd,21,1995,4,1,139,...,0.00,0.00,0.00,0.00,0.00,0.04,0.00,0.04,0.04,0.04
2,3,Tammy Abraham,ENG,FW,Swansea City,19,1997,31,15,1726,...,0.26,0.05,0.31,0.26,0.31,0.35,0.08,0.44,0.35,0.44
3,4,Charlie Adam,SCO,MF,Stoke City,31,1985,11,5,411,...,0.00,0.00,0.00,0.00,0.00,0.36,0.27,0.63,0.19,0.46
4,5,Adrián,ESP,GK,West Ham,30,1987,19,19,1710,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
524,525,Wilfried Zaha,CIV,FW,Crystal Palace,24,1992,29,28,2549,...,0.32,0.11,0.42,0.32,0.42,0.33,0.17,0.49,0.33,0.49
525,526,Davide Zappacosta,ITA,DF,Chelsea,25,1992,22,12,1098,...,0.08,0.08,0.16,0.08,0.16,0.11,0.11,0.22,0.11,0.22
526,527,Marvin Zeegelaar,NED,DF,Watford,26,1990,12,12,994,...,0.00,0.09,0.09,0.00,0.09,0.00,0.09,0.09,0.00,0.09
527,528,Oleksandr Zinchenko,UKR,DF,Manchester City,20,1996,8,6,532,...,0.00,0.00,0.00,0.00,0.00,0.02,0.07,0.09,0.02,0.09
528,529,Kurt Zouma,FRA,DF,Stoke City,22,1994,34,32,2888,...,0.03,0.00,0.03,0.03,0.03,0.04,0.01,0.05,0.04,0.05

## Data Cleaning

At this point, the FIFA data is filtered to only include Premier League players. Additionally, the FIFA versions are split into different dataframes so that they can be individually joined to Premier League data later

In [10]:
df_prem = df_fifa[df_fifa["league_id"] == 13]
df_fifa_23 = df_prem[df_prem["fifa_version"] == 23]
print(df_fifa_23.columns.tolist())

['player_id', 'player_url', 'fifa_version', 'fifa_update', 'fifa_update_date', 'short_name', 'long_name', 'player_positions', 'overall', 'potential', 'value_eur', 'wage_eur', 'age', 'dob', 'height_cm', 'weight_kg', 'league_id', 'league_name', 'league_level', 'club_team_id', 'club_name', 'club_position', 'club_jersey_number', 'club_loaned_from', 'club_joined_date', 'club_contract_valid_until_year', 'nationality_id', 'nationality_name', 'nation_team_id', 'nation_position', 'nation_jersey_number', 'preferred_foot', 'weak_foot', 'skill_moves', 'international_reputation', 'work_rate', 'body_type', 'real_face', 'release_clause_eur', 'player_tags', 'player_traits', 'pace', 'shooting', 'passing', 'dribbling', 'defending', 'physic', 'attacking_crossing', 'attacking_finishing', 'attacking_heading_accuracy', 'attacking_short_passing', 'attacking_volleys', 'skill_dribbling', 'skill_curve', 'skill_fk_accuracy', 'skill_long_passing', 'skill_ball_control', 'movement_acceleration', 'movement_sprint_speed', 'movement_agility', 'movement_reactions', 'movement_balance', 'power_shot_power', 'power_jumping', 'power_stamina', 'power_strength', 'power_long_shots', 'mentality_aggression', 'mentality_interceptions', 'mentality_positioning', 'mentality_vision', 'mentality_penalties', 'mentality_composure', 'defending_marking_awareness', 'defending_standing_tackle', 'defending_sliding_tackle', 'goalkeeping_diving', 'goalkeeping_handling', 'goalkeeping_kicking', 'goalkeeping_positioning', 'goalkeeping_reflexes', 'goalkeeping_speed', 'ls', 'st', 'rs', 'lw', 'lf', 'cf', 'rf', 'rw', 'lam', 'cam', 'ram', 'lm', 'lcm', 'cm', 'rcm', 'rm', 'lwb', 'ldm', 'cdm', 'rdm', 'rwb', 'lb', 'lcb', 'cb', 'rcb', 'rb', 'gk', 'player_face_url']

In [11]:
df_fifa_22 = df_prem[df_prem["fifa_version"] == 22]
df_fifa_21 = df_prem[df_prem["fifa_version"] == 21]
df_fifa_20 = df_prem[df_prem["fifa_version"] == 20]
df_fifa_19 = df_prem[df_prem["fifa_version"] == 19]

In [22]:
from google.colab import files

df_fifa_23.to_csv('23Prem.csv', encoding = 'utf-8-sig') 
files.download('23Prem.csv')

In [ ]:
df_fifa_22.to_csv('22Prem.csv', encoding = 'utf-8-sig') 
files.download('22Prem.csv')

In [ ]:
df_fifa_21.to_csv('21Prem.csv', encoding = 'utf-8-sig') 
files.download('21Prem.csv')
df_fifa_20.to_csv('20Prem.csv', encoding = 'utf-8-sig') 
files.download('20Prem.csv')
df_fifa_19.to_csv('19Prem.csv', encoding = 'utf-8-sig') 
files.download('19Prem.csv')

In [12]:
df_fifa_23 = pd.read_csv(data_dir + "23Prem.csv")
df_fifa_22 = pd.read_csv(data_dir + "22Prem.csv")

At this point, a major issue arises. FIFA stores player names in two ways: "short name", which is generally their first initial and last name, and "long name", which is their full name. Conversely, the Premier League data is stored as the player's first and last name. As such, there is no simple way to join the two datasets. For example, Cristiano Ronaldo's short name matches with the Premier League data, but his long name does not, while Marcus Rashford's short name is different, but his long name remains the same. 

As such, the easiest solution I could find was to convert every player's name into a "short name". For most players, this can be achieved through replacing the first word of their names with their first initial.

In [13]:
name_temp = df_2122["Player"].str.split(" ")
final_names = []
for names in name_temp:
  names[0] = names[0][0:1] + "."
  final_names.append(" ".join(names))

df_2122["short_name"] = final_names
df_2122

,Rk,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,...,Ast.1,G+A.1,G-PK.1,G+A-PK,xG.1,xAG.1,xG+xAG,npxG.1,npxG+xAG.1,short_name
0,1,Max Aarons,ENG,DF,Norwich City,21,2000,34,32,2881,...,0.06,0.06,0.00,0.06,0.03,0.05,0.08,0.03,0.08,M. Aarons
1,2,Che Adams,SCO,FW,Southampton,25,1996,30,23,2039,...,0.13,0.44,0.31,0.44,0.31,0.13,0.45,0.31,0.45,C. Adams
2,3,Rayan Aït Nouri,FRA,DF,Wolves,20,2001,23,20,1828,...,0.10,0.15,0.05,0.15,0.03,0.08,0.11,0.03,0.11,R. Aït Nouri
3,4,Kristoffer Ajer,NOR,DF,Brentford,23,1998,24,23,1995,...,0.14,0.18,0.05,0.18,0.04,0.08,0.11,0.04,0.11,K. Ajer
4,5,Nathan Aké,NED,DF,Manchester City,26,1995,14,10,923,...,0.00,0.20,0.20,0.20,0.07,0.06,0.12,0.07,0.12,N. Aké
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
541,542,Christoph Zimmermann,GER,DF,Norwich City,28,1993,3,2,157,...,0.00,0.00,0.00,0.00,0.03,0.00,0.03,0.03,0.03,C. Zimmermann
542,543,Oleksandr Zinchenko,UKR,DF,Manchester City,24,1996,15,10,1047,...,0.34,0.34,0.00,0.34,0.04,0.23,0.27,0.04,0.27,O. Zinchenko
543,544,Hakim Ziyech,MAR,MF,Chelsea,28,1993,23,14,1319,...,0.20,0.48,0.27,0.48,0.23,0.20,0.43,0.23,0.43,H. Ziyech
544,545,Kurt Zouma,FRA,DF,West Ham,26,1994,24,24,2078,...,0.00,0.04,0.04,0.04,0.05,0.00,0.05,0.05,0.05,K. Zouma
545,546,Martin Ødegaard,NOR,MF,Arsenal,22,1998,36,32,2785,...,0.13,0.36,0.23,0.36,0.15,0.20,0.36,0.15,0.36,M. Ødegaard

In [14]:
name_temp = df_2021["Player"].str.split(" ")
final_names = []
for names in name_temp:
  names[0] = names[0][0:1] + "."
  final_names.append(" ".join(names))

df_2021["short_name"] = final_names
df_2021

,Rk,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,...,Ast.1,G+A.1,G-PK.1,G+A-PK,xG.1,xAG.1,xG+xAG,npxG.1,npxG+xAG.1,short_name
0,1,Patrick van Aanholt,NED,DF,Crystal Palace,29,1990,22,20,1777,...,0.05,0.05,0.00,0.05,0.07,0.04,0.11,0.07,0.11,P. van Aanholt
1,2,Tammy Abraham,ENG,FW,Chelsea,22,1997,22,12,1040,...,0.09,0.61,0.52,0.61,0.51,0.06,0.57,0.51,0.57,T. Abraham
2,3,Che Adams,SCO,FW,Southampton,24,1996,36,30,2667,...,0.17,0.47,0.30,0.47,0.33,0.17,0.50,0.33,0.50,C. Adams
3,4,Tosin Adarabioyo,ENG,DF,Fulham,22,1997,33,33,2953,...,0.00,0.00,0.00,0.00,0.03,0.01,0.04,0.03,0.04,T. Adarabioyo
4,5,Adrián,ESP,GK,Liverpool,33,1987,3,3,270,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,A.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
527,528,Andi Zeqiri,SUI,FW,Brighton,21,1999,9,0,171,...,0.00,0.00,0.00,0.00,0.38,0.04,0.42,0.38,0.42,A. Zeqiri
528,529,Oleksandr Zinchenko,UKR,DF,Manchester City,23,1996,20,15,1478,...,0.00,0.00,0.00,0.00,0.04,0.06,0.10,0.04,0.10,O. Zinchenko
529,530,Hakim Ziyech,MAR,MF,Chelsea,27,1993,23,15,1172,...,0.23,0.38,0.15,0.38,0.15,0.28,0.42,0.15,0.42,H. Ziyech
530,531,Kurt Zouma,FRA,DF,Chelsea,25,1994,24,22,2029,...,0.00,0.22,0.22,0.22,0.09,0.00,0.09,0.09,0.09,K. Zouma
531,532,Martin Ødegaard,NOR,MF,Arsenal,21,1998,14,9,866,...,0.21,0.31,0.10,0.31,0.08,0.21,0.29,0.08,0.29,M. Ødegaard

In [15]:
name_temp = df_1920["Player"].str.split(" ")
final_names = []
for names in name_temp:
  names[0] = names[0][0:1] + "."
  final_names.append(" ".join(names))

df_1920["short_name"] = final_names
df_1920

,Rk,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,...,Ast.1,G+A.1,G-PK.1,G+A-PK,xG.1,xAG.1,xG+xAG,npxG.1,npxG+xAG.1,short_name
0,1,Patrick van Aanholt,NED,DF,Crystal Palace,28,1990,29,29,2507,...,0.07,0.18,0.07,0.14,0.08,0.13,0.21,0.05,0.18,P. van Aanholt
1,2,Max Aarons,ENG,DF,Norwich City,19,2000,36,36,3240,...,0.03,0.03,0.00,0.03,0.02,0.11,0.12,0.02,0.12,M. Aarons
2,3,Tammy Abraham,ENG,FW,Chelsea,21,1997,34,25,2215,...,0.12,0.73,0.61,0.73,0.67,0.11,0.77,0.67,0.77,T. Abraham
3,4,Che Adams,SCO,FW,Southampton,23,1996,30,12,1111,...,0.16,0.49,0.32,0.49,0.43,0.14,0.57,0.43,0.57,C. Adams
4,5,Adrián,ESP,GK,Liverpool,32,1987,11,9,875,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,A.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
517,518,Wilfried Zaha,CIV,FW,Crystal Palace,26,1992,38,37,3280,...,0.08,0.19,0.11,0.19,0.14,0.11,0.25,0.14,0.25,W. Zaha
518,519,Christoph Zimmermann,GER,DF,Norwich City,26,1993,17,16,1430,...,0.06,0.06,0.00,0.06,0.02,0.01,0.03,0.02,0.03,C. Zimmermann
519,520,Oleksandr Zinchenko,UKR,DF,Manchester City,22,1996,19,13,1276,...,0.00,0.00,0.00,0.00,0.03,0.11,0.14,0.03,0.14,O. Zinchenko
520,521,Richairo Živković,NED,FW,Sheffield Utd,22,1996,5,0,112,...,0.00,0.00,0.00,0.00,0.06,0.08,0.14,0.06,0.14,R. Živković
521,522,Kurt Zouma,FRA,DF,Chelsea,24,1994,28,25,2344,...,0.00,0.00,0.00,0.00,0.04,0.01,0.05,0.04,0.05,K. Zouma

In [16]:
name_temp = df_1819["Player"].str.split(" ")
final_names = []
for names in name_temp:
  names[0] = names[0][0:1] + "."
  final_names.append(" ".join(names))

df_1819["short_name"] = final_names
df_1819

,Rk,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,...,Ast.1,G+A.1,G-PK.1,G+A-PK,xG.1,xAG.1,xG+xAG,npxG.1,npxG+xAG.1,short_name
0,1,Patrick van Aanholt,NED,DF,Crystal Palace,27,1990,36,36,3195,...,0.06,0.14,0.08,0.14,0.07,0.12,0.20,0.07,0.20,P. van Aanholt
1,2,Sergio Agüero,ARG,FW,Manchester City,30,1988,33,31,2459,...,0.29,1.06,0.70,0.99,0.66,0.18,0.85,0.60,0.79,S. Agüero
2,3,Nathan Aké,NED,DF,Bournemouth,23,1995,38,38,3411,...,0.00,0.11,0.11,0.11,0.09,0.03,0.11,0.09,0.11,N. Aké
3,4,Marc Albrighton,ENG,FW,Leicester City,28,1989,27,18,1625,...,0.11,0.22,0.11,0.22,0.07,0.16,0.23,0.07,0.23,M. Albrighton
4,5,Toby Alderweireld,BEL,DF,Tottenham,29,1989,34,33,2922,...,0.00,0.00,0.00,0.00,0.03,0.02,0.05,0.03,0.05,T. Alderweireld
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
503,504,Andre-Frank Zambo Anguissa,CMR,MF,Fulham,22,1995,22,16,1517,...,0.00,0.00,0.00,0.00,0.05,0.01,0.06,0.05,0.06,A. Zambo Anguissa
504,505,Davide Zappacosta,ITA,DF,Chelsea,26,1992,4,1,128,...,0.00,0.00,0.00,0.00,0.06,0.09,0.15,0.06,0.15,D. Zappacosta
505,506,Oleksandr Zinchenko,UKR,DF,Manchester City,21,1996,14,14,1151,...,0.23,0.23,0.00,0.23,0.01,0.12,0.13,0.01,0.13,O. Zinchenko
506,507,Kenneth Zohore,DEN,FW,Cardiff City,24,1994,19,7,753,...,0.12,0.24,0.12,0.24,0.20,0.13,0.33,0.20,0.33,K. Zohore
507,508,Kurt Zouma,FRA,DF,Everton,23,1994,32,29,2612,...,0.07,0.14,0.07,0.14,0.05,0.01,0.06,0.05,0.06,K. Zouma

In [17]:
name_temp = df_1718["Player"].str.split(" ")
final_names = []
for names in name_temp:
  names[0] = names[0][0:1] + "."
  final_names.append(" ".join(names))

df_1718["short_name"] = final_names
df_1718

,Rk,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,...,Ast.1,G+A.1,G-PK.1,G+A-PK,xG.1,xAG.1,xG+xAG,npxG.1,npxG+xAG.1,short_name
0,1,Patrick van Aanholt,NED,DF,Crystal Palace,26,1990,28,25,2184,...,0.04,0.25,0.21,0.25,0.13,0.09,0.21,0.13,0.21,P. van Aanholt
1,2,Rolando Aarons,ENG,MF,Newcastle Utd,21,1995,4,1,139,...,0.00,0.00,0.00,0.00,0.04,0.00,0.04,0.04,0.04,R. Aarons
2,3,Tammy Abraham,ENG,FW,Swansea City,19,1997,31,15,1726,...,0.05,0.31,0.26,0.31,0.35,0.08,0.44,0.35,0.44,T. Abraham
3,4,Charlie Adam,SCO,MF,Stoke City,31,1985,11,5,411,...,0.00,0.00,0.00,0.00,0.36,0.27,0.63,0.19,0.46,C. Adam
4,5,Adrián,ESP,GK,West Ham,30,1987,19,19,1710,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,A.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
524,525,Wilfried Zaha,CIV,FW,Crystal Palace,24,1992,29,28,2549,...,0.11,0.42,0.32,0.42,0.33,0.17,0.49,0.33,0.49,W. Zaha
525,526,Davide Zappacosta,ITA,DF,Chelsea,25,1992,22,12,1098,...,0.08,0.16,0.08,0.16,0.11,0.11,0.22,0.11,0.22,D. Zappacosta
526,527,Marvin Zeegelaar,NED,DF,Watford,26,1990,12,12,994,...,0.09,0.09,0.00,0.09,0.00,0.09,0.09,0.00,0.09,M. Zeegelaar
527,528,Oleksandr Zinchenko,UKR,DF,Manchester City,20,1996,8,6,532,...,0.00,0.00,0.00,0.00,0.02,0.07,0.09,0.02,0.09,O. Zinchenko
528,529,Kurt Zouma,FRA,DF,Stoke City,22,1994,34,32,2888,...,0.00,0.03,0.03,0.03,0.04,0.01,0.05,0.04,0.05,K. Zouma

In [ ]:
df_2021.to_csv('2021Prem.csv', encoding = 'utf-8-sig') 
files.download('2021Prem.csv')

In [ ]:
df_1920.to_csv('1920Prem.csv', encoding = 'utf-8-sig') 
files.download('1920Prem.csv')
df_1819.to_csv('1819Prem.csv', encoding = 'utf-8-sig') 
files.download('1819Prem.csv')
df_1718.to_csv('1718Prem.csv', encoding = 'utf-8-sig') 
files.download('1718Prem.csv')

At this point, I opened these files in Microsoft Excel, and text edited the "short_name" column to fix any differences between the FIFA "short_name" and the column I made for the Premier League data. Some example include names that are only one word, names in which multiple names are shortened, and names in which the dataset and FIFA order names differently (i.e. Heung-Min Son vs. Son Heung-Min).

After this, I reuploaded these edited files to my google drive, which will now be joined together.

For my purposes, I will be using an inner join, as I want to have full data for every player included

In [75]:
df_prem_2122 = pd.read_csv(data_dir + "2122Prem.csv")
df_prem_2122 = df_prem_2122.drop_duplicates(subset=['Player'])
df_fifa_23 = pd.read_csv(data_dir + "23Prem.csv")
df_joined23 = df_prem_2122.merge(df_fifa_23, on="short_name")

df_prem_2021 = pd.read_csv(data_dir + "2021Prem.csv")
df_prem_2021 = df_prem_2021.drop_duplicates(subset=['Player'])
df_fifa_22 = pd.read_csv(data_dir + "22Prem.csv")
df_joined22 = df_prem_2021.merge(df_fifa_23, on="short_name")

df_prem_1920 = pd.read_csv(data_dir + "1920Prem.csv")
df_prem_1920 = df_prem_1920.drop_duplicates(subset=['Player'])
df_fifa_21 = pd.read_csv(data_dir + "21Prem.csv")
df_joined21 = df_prem_1920.merge(df_fifa_21, on="short_name")

df_prem_1819 = pd.read_csv(data_dir + "1819Prem.csv")
df_prem_1819 = df_prem_1819.drop_duplicates(subset=['Player'])
df_fifa_20 = pd.read_csv(data_dir + "20Prem.csv")
df_joined20 = df_prem_1819.merge(df_fifa_20, on="short_name")

df_prem_1718 = pd.read_csv(data_dir + "1718Prem.csv")
df_prem_1718 = df_prem_1718.drop_duplicates(subset=['Player'])
df_fifa_19 = pd.read_csv(data_dir + "19Prem.csv")
df_joined19 = df_prem_2021.merge(df_fifa_19, on="short_name")

In [76]:
df_2122Defense = pd.read_csv(data_dir + "2021-22_Defense.txt")
df_2122Defense = df_2122Defense.drop_duplicates(subset=['Player'])
df_2122Defense["Pos"] = df_2122Defense["Pos"].str[:2]
df_2122Defense["Nation"] = df_2122Defense["Nation"].str[-3:]
df_2122Defense = df_2122Defense.iloc[:, :-2]
df_joined23 = df_joined23.merge(df_2122Defense, on=["Player", "Nation", "Age",
                                                    "Pos", "Squad", "90s"])

df_2021Defense = pd.read_csv(data_dir + "2020-21_Defense.txt")
df_2021Defense = df_2021Defense.drop_duplicates(subset=['Player'])
df_2021Defense["Pos"] = df_2021Defense["Pos"].str[:2]
df_2021Defense["Nation"] = df_2021Defense["Nation"].str[-3:]
df_2021Defense = df_2021Defense.iloc[:, :-2]
df_joined22 = df_joined22.merge(df_2021Defense, on=["Player", "Nation", "Age",
                                                    "Pos", "Squad", "90s"])

df_1920Defense = pd.read_csv(data_dir + "2019-20_Defense.txt")
df_1920Defense = df_1920Defense.drop_duplicates(subset=['Player'])
df_1920Defense["Pos"] = df_1920Defense["Pos"].str[:2]
df_1920Defense["Nation"] = df_1920Defense["Nation"].str[-3:]
df_1920Defense = df_1920Defense.iloc[:, :-2]
df_joined21 = df_joined21.merge(df_1920Defense, on=["Player", "Nation", "Age",
                                                    "Pos", "Squad", "90s"])

df_1819Defense = pd.read_csv(data_dir + "2018-19_Defense.txt")
df_1819Defense = df_1819Defense.drop_duplicates(subset=['Player'])
df_1819Defense["Pos"] = df_1819Defense["Pos"].str[:2]
df_1819Defense["Nation"] = df_1819Defense["Nation"].str[-3:]
df_1819Defense = df_1819Defense.iloc[:, :-2]
df_joined20 = df_joined20.merge(df_1819Defense, on=["Player", "Nation", "Age",
                                                    "Pos", "Squad", "90s"])

df_1718Defense = pd.read_csv(data_dir + "2017-18_Defense.txt")
df_1718Defense = df_1718Defense.drop_duplicates(subset=['Player'])
df_1718Defense["Pos"] = df_1718Defense["Pos"].str[:2]
df_1718Defense["Nation"] = df_1718Defense["Nation"].str[-3:]
df_1718Defense = df_1718Defense.iloc[:, :-2]
df_joined19 = df_joined19.merge(df_1718Defense, on=["Player", "Pos"], 
                          suffixes=("", ".1"))

In [81]:
df_joined = pd.concat([df_joined22, df_joined23], ignore_index=True, axis=0)
df_joined = pd.concat([df_joined, df_joined21], ignore_index=True, axis=0)
df_joined = pd.concat([df_joined, df_joined20], ignore_index=True, axis=0)
df_joined = pd.concat([df_joined, df_joined19], ignore_index=True, axis=0)
df_joined = df_joined[df_joined["Pos"] != "GK"]
print(df_joined.columns.tolist())
df_joined=df_joined.iloc[:, 2:]
df_joined

['Unnamed: 0_x', 'Rk_x', 'Player', 'Nation', 'Pos', 'Squad', 'Age', 'Born_x', 'MP', 'Starts', 'Min', '90s', 'Gls', 'Ast', 'G+A', 'G-PK', 'PK', 'PKatt', 'CrdY', 'CrdR', 'xG', 'npxG', 'xAG', 'npxG+xAG', 'PrgC', 'PrgP', 'PrgR', 'Gls.1', 'Ast.1', 'G+A.1', 'G-PK.1', 'G+A-PK', 'xG.1', 'xAG.1', 'xG+xAG', 'npxG.1', 'npxG+xAG.1', 'short_name', 'Unnamed: 0_y', 'player_id', 'player_url', 'fifa_version', 'fifa_update', 'fifa_update_date', 'long_name', 'player_positions', 'overall', 'potential', 'value_eur', 'wage_eur', 'age', 'dob', 'height_cm', 'weight_kg', 'league_id', 'league_name', 'league_level', 'club_team_id', 'club_name', 'club_position', 'club_jersey_number', 'club_loaned_from', 'club_joined_date', 'club_contract_valid_until_year', 'nationality_id', 'nationality_name', 'nation_team_id', 'nation_position', 'nation_jersey_number', 'preferred_foot', 'weak_foot', 'skill_moves', 'international_reputation', 'work_rate', 'body_type', 'real_face', 'release_clause_eur', 'player_tags', 'player_traits', 'pace', 'shooting', 'passing', 'dribbling', 'defending', 'physic', 'attacking_crossing', 'attacking_finishing', 'attacking_heading_accuracy', 'attacking_short_passing', 'attacking_volleys', 'skill_dribbling', 'skill_curve', 'skill_fk_accuracy', 'skill_long_passing', 'skill_ball_control', 'movement_acceleration', 'movement_sprint_speed', 'movement_agility', 'movement_reactions', 'movement_balance', 'power_shot_power', 'power_jumping', 'power_stamina', 'power_strength', 'power_long_shots', 'mentality_aggression', 'mentality_interceptions', 'mentality_positioning', 'mentality_vision', 'mentality_penalties', 'mentality_composure', 'defending_marking_awareness', 'defending_standing_tackle', 'defending_sliding_tackle', 'goalkeeping_diving', 'goalkeeping_handling', 'goalkeeping_kicking', 'goalkeeping_positioning', 'goalkeeping_reflexes', 'goalkeeping_speed', 'ls', 'st', 'rs', 'lw', 'lf', 'cf', 'rf', 'rw', 'lam', 'cam', 'ram', 'lm', 'lcm', 'cm', 'rcm', 'rm', 'lwb', 'ldm', 'cdm', 'rdm', 'rwb', 'lb', 'lcb', 'cb', 'rcb', 'rb', 'gk', 'player_face_url', 'Rk_y', 'Born_y', 'Tkl', 'TklW', 'Def 3rd', 'Mid 3rd', 'Att 3rd', 'Tkl.1', 'Att', 'Tkl%', 'Lost', 'Blocks', 'Sh', 'Pass', 'Int', 'Tkl+Int', 'Clr', 'Err', 'Rk', 'Born', 'Rk.1', 'Nation.1', 'Squad.1', 'Age.1', 'Born.1', '90s.1']

,Player,Nation,Pos,Squad,Age,Born_x,MP,Starts,Min,90s,...,Clr,Err,Rk,Born,Rk.1,Nation.1,Squad.1,Age.1,Born.1,90s.1
0,Che Adams,SCO,FW,Southampton,24,1996.0,36,30,2667,29.6,...,19.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Tosin Adarabioyo,ENG,DF,Fulham,22,1997.0,33,33,2953,32.8,...,197.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Rayan Aït Nouri,FRA,DF,Wolves,19,2001.0,21,16,1404,15.6,...,25.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Nathan Aké,NED,DF,Manchester City,25,1995.0,10,9,797,8.9,...,23.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Marc Albrighton,ENG,DF,Leicester City,30,1989.0,31,17,1746,19.4,...,27.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1363,Granit Xhaka,SUI,MF,Arsenal,27,NaN,31,29,2522,28.0,...,68.0,4.0,522.0,1992.0,519.0,SUI,Arsenal,24.0,1992.0,36.2
1364,DeAndre Yedlin,USA,DF,Newcastle Utd,27,NaN,6,5,436,4.8,...,114.0,0.0,524.0,1993.0,521.0,USA,Newcastle Utd,24.0,1993.0,31.6
1365,Wilfried Zaha,CIV,FW,Crystal Palace,27,NaN,30,29,2612,29.0,...,4.0,0.0,526.0,1992.0,525.0,CIV,Crystal Palace,24.0,1992.0,28.3
1366,Oleksandr Zinchenko,UKR,DF,Manchester City,23,NaN,20,15,1478,16.4,...,7.0,0.0,529.0,1996.0,528.0,UKR,Manchester City,20.0,1996.0,5.9
1367,Kurt Zouma,FRA,DF,Chelsea,25,NaN,24,22,2029,22.5,...,246.0,2.0,531.0,1994.0,529.0,FRA,Stoke City,22.0,1994.0,32.1

In [79]:
df_joined.to_csv('CombinedData.csv', encoding = 'utf-8-sig') 
files.download('CombinedData.csv')